/src/project.db
.idea
.pydevproject
.settings
.project
env*
public
apps_static
*.log
*.pot
*.pyc
sqlite3.db
db.sqlite3
*.db
db.*
wsgi_local*
settings_local.py
settings_local_pipelines.py
project/celery_local.py
project/settings_testing_local.py
project/settings_meta_local.py
logs/
smarty/
celerybeat-*
dump.rdb
media/
src/*
.cache
.coverage
.uwsgi.pid
.virtualenvs/
project.sock
e_commerce/static/theme/sass/custom/.sass-cache/*
e_commerce/static/init-firebase-local.js
qrcode.svg
docs/build
dist/*
build/*
*.egg-info
project/urls_local.py
.env
